/*************navigation bar**************************/
#header{
    position: fixed;
    width:100%;
    top:0;
    z-index:9999;  
    /* background-color: #000000; */
}
.topnav a:hover {
    border-bottom: 3px solid red;
}

a:hover{
    cursor: pointer;
}
/* .navbar{
    background-color: aqua;
} */
.nopadding{
    padding: 0 !important;
}
.nav-item .nav-link{
    color: #ffd400;
    font-size: 17px;
}
.navbar .aaj-tak-title{
    color:#ffd400;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.navbar .aaj-tak-title .aaj-tak-logo{
    width:70px;
    height:50px;
}
.navbar .navbar-toggler .navbar-toggler-icon {
    color:white;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
     .nav-item{
         margin-left: 60px;
         width: 90px;
         text-align: left;
     }
     
     .nav-link:hover{
         border-bottom: 3px solid red;
         width: fit-content;
     }
}
/**********************end of navigation bar*****************************/

/*********start of slider********/
#demo{
    margin-top: 63px;
    background-color: brown;
}

.carousel-inner .carousel-item img{
    width: 100%;
    height:100%;
}

@media only screen and (max-width: 400px) { 

  
  .carousel-inner .carousel-item img{
    width:100%;
   }
    
    #demo{
      height:100px !important;
    }
    .box1 h5{
      padding-top:20px !important;
    }
  

}
@media only screen and (max-width: 600px)  { 

  #demo{ 
    height:auto !important;
    width:auto;
  }

  .carousel-inner .carousel-item img{
    width:100%;
    height:100%;
   }
.carousel-indicators{
    bottom: -10px !important;
}

.box1,.box2,.box3{
  height:150px !important;
}
.aboutus{
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.box3 h5,.box2 h5{
  padding-top:40px !important;
}

}

@media only screen and (min-width: 601px) { 

  
  
 .aboutus{
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.box1,.box2,.box3{
  height:250px !important;
}
}

@media only screen and (min-width: 786px) { 
  .aboutus{
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  } 

  @media only screen and (max-width: 786px) { 
    .blog-img img{
      height:200px;
      
   }  
   .single-blog{
    margin-top: 10px;
   }
   .section-title{
     padding-top:10px !important;
   }
   
    }
@media only screen and (max-width: 992px) { 
#demo{
  margin-top:54px;
}
.dk-footer .contact-us.contact-us-last{
  margin-left:0px !important;
 }
 .section-heading-subscribe{
  margin-left:73px !important;
 }
 .footer-widget p{
   margin-left: 30px !important;
   margin-top:10px;
 }
 .aboutus h3{
   margin-top:10px !important;
 }
 h2{
   margin: 10px 15px;
 }
 .testimonial-box{
   padding: 0px !important;
 }
}

@media only screen and (min-width: 992px) { 
  .aboutus{
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
/*********end of slider********/

/*****************start of balck and yellow box**************************/
.box1,.box2,.box3{
    height: 200px;
}
.box1,.box3{
    background-color: #ffd400;
    vertical-align: middle
}
.box1 h5{
        margin: auto; /* Important */ 
        text-align: center;
        padding-top: 60px;
        color:#000000;
}
.box3 h5{
    margin: auto; /* Important */ 
        text-align: center;
        padding-top: 80px;
        color:#000000;
}
.box2{
    background-color: #000000;
}
.box2 h5{
        margin: auto; /* Important */ 
        text-align: center;
        padding-top: 80px;
        color:#ffd400;
}
.donate-box{
    background-color: #000000;
    height: 50px;
    width: 160px;
    padding: 6px 7px;
    margin: 10px auto;
}
.donate-box-inner{
    
    background-color: #111111;
    border: 2px solid  #ffd400;
    height: 37px;
    position: relative;
    padding:  7px auto;
}
.donate-box-inner p{
    text-align: center;
    color: #ffd400;
    font-size: 20px;
    
}
/*****************end of of balck and yellow box**************************/
/**************start of about us part****************************/
.aboutus{
    height: auto;
    background-color: black;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: .5rem;
    position: relative;
}
.aboutus h3{
    /* text-decoration: underline; */
    color:white;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
}
.aboutus p{
    color:white;
    font-size: 16px;
    text-align: justify;
    font-family: 'Tajawal', sans-serif;
}
.aboutus h3::before
{
    content:"";
    background:#ffd400;
    height:6px;
    width:180px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(63px);
    border:1px solid #000000;
}

.aboutus h3::after
{
    content:"";
    background:#ffd400;
    height:12px;
    width:60px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3px;
    margin-bottom:40px;
    display:block;
    transform:translateY(8px);
    border:1px solid #000000;

}
/*****************end of about us part********************/
/******************testimonial****************************/
.testimonial-box{
    overflow: visible;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    border-top: 100px solid black;
}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel-testimonial {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-testimonial .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel-testimonial .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel-testimonial .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel-testimonial .testimonial {
	padding: 30px 0 10px;
}
.carousel-testimonial .overview {	
	font-style: italic;
}
.carousel-testimonial .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel-testimonial .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-testimonial-indicators {
	bottom: -20px;
}
.carousel-testimonial-indicators li, .carousel-testimonial-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-testimonial-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-testimonial-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
/****************end of testimonial css*************************/

/********start of blog************/
#blog{
    background: #ffd400;
    
}
.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.blog-img {
	position: relative;
}
.blog-img img {
	width: 100%;
}
.post-category a {
	display: inline-block;
	background-color: #FF7200;
	color: #fff;
	font-size: 15px;
	padding: 5px 20px;
}
.single-blog:hover img {
	opacity: .85;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)" */
}
.post-category {
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog-content {
	padding: 30px 20px;
}
.single-blog {
    /* border: 1px solid #eee; */
    border: 1px solid #000 ;
}
.blog-title h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.meta {
	margin-bottom: 20px;
	opacity: .85;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; */
}
.blog-content a.box_btn {
	display: inline-block;
	background-color: #000;
	padding: 5px 15px;
	color: #fff;
	text-transform: capitalize;
	margin-top: 20px;
}
a.box_btn::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #CC5B00;
	left: -100%;
	top: 0;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: -1;
}
a.box_btn {
	overflow: hidden;
	z-index: 2;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	text-decoration:none;
}
a.box_btn:hover::before {
	left: 0;
	z-index: -1;
}
/********end of blog**************/

/***********start of footer***************/
#dk-footer{
    background-color: #000;
}
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 60px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -70px;
  /* background: #202020; */
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px;color: #878787; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px;
  color: #878787; 
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }
/*********end of footer*****************/


@media only screen and (max-width: 600px) { 

  #demo{
    height:200px;
  }

}